@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Daikon';
  src: local('Daikon'), url('../assets/fonts/Pepper-Type-Daikon-ExtraLight.woff2') format('woff2');
}

@tailwind utilities;

